<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <a href="personal.html">My Personal Life</a>
                </div>
                <div class="col-3">
                    <a href="family.html">My Family</a>
                </div>
                <div class="col-3">
                    <a href="education.html">My education</a>
                </div>
                <div class="col-3">
                    <a href="index.html">Homepage</a>
                </div>
            </div>
        </div>
    </body>
</html>
